# SPDX-License-Identifier: Apache-2.0
# Threat-model finding F13, control one. Zero runtime dependencies does not by itself stop
# a development dependency's postinstall from running at `npm install`, so this turns the
# whole lifecycle off for every install in this tree, developer and CI alike. The build
# tooling is chosen to work under it: esbuild resolves its platform binary through an
# optional dependency rather than a lifecycle script, which scripts/check-supply-chain.ts
# asserts rather than assumes.
ignore-scripts=true
